body {
  background-color:white;
}

h1 {
  color: white;
  text-align: center;
  line-height: 2em;
  font-size: 32px;
}
#main {
  position: relative;
}
p{
  line-height: 5em;
}
div {
  line-height: 3em;
  text-align: center;
}
body {
  background-color: white;
}


.my-card .item.item-image{
  width: 100vw;
  margin-left: -10px;
}

.my-card.card{
  overflow: visible;
}

.item-image img:first-child {
  position: relative;
  width: 100vw !important;
  left: calc(-50vw + 50%);
}
