<button ion-button icon-only (click)="goback_home();">
    <ion-icon name="arrow-back"></ion-icon>
</button>


<ion-content padding>

    <div *ngIf= "hashes?.length > 0; else noItems" > <!-- if the length of the fetched data is greater than zero -->

        <ul *ngFor="let hash of hashes" class="collection"> <!-- run the loop -->

            <div *ngIf = "hash.id == 'Hashtable'; else noItems" >


                <ion-item *ngFor="let item of hash.array;">
                       {{item}}
                </ion-item>
            </div>

        </ul>

    </div>

<ng-template #noItems> <!-- run the else statement -->
    <hr>
    <h5> There are no items to list </h5>
</ng-template>


<!--<ng-template #noItems> &lt;!&ndash; run the else statement &ndash;&gt;-->
<!--<hr>-->
<!--<h5> There are no items to list </h5>-->
<!--</ng-template>-->

</ion-content>