<button ion-button icon-only (click)="goback_home();">
    <ion-icon name="arrow-back"></ion-icon>
</button>

<!--<ion-card>-->
    <!--<ion-card-content>-->
        <!--<page-add-wallet>-->
        <!--</page-add-wallet>-->
    <!--</ion-card-content>-->
<!--</ion-card>-->

<!--<div *ngIf="items?.length > 0; else noItems" > &lt;!&ndash; if the length of the fetched data is greater than zero &ndash;&gt;-->
    <!--<ul *ngFor="let item of items" class="collection"> &lt;!&ndash; run the loop &ndash;&gt;-->
        <!--<ion-card>-->
            <!--<button ion-button icon-only (click)= "deleteItem($event, item)" class = "collection-items" >-->
                <!--<ion-icon name = "close" ></ion-icon>-->
            <!--</button>-->
            <!--&lt;!&ndash;<li class = "collection-item"> <strong> {{items.title}}: </strong> {{items.description}} </li> &lt;!&ndash; trying to get the item field &ndash;&gt;&ndash;&gt;-->
             <!--<strong> {{item.id}} : </strong> {{item.title}} , {{item.description}} &lt;!&ndash; use items.id to see the actual id of the document &ndash;&gt;-->
        <!--</ion-card>-->
   <!--</ul>-->
<!--</div>-->

<!--<ng-template #noItems> &lt;!&ndash; run the else statement &ndash;&gt;-->
    <!--<hr>-->
    <!--<h5> There are no items to list </h5>-->
<!--</ng-template>-->

